* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--cor-de-fundo);
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

/* <!--cor de fundo>  */


:root {
    --cor-de-fundo: #ffffff;
    --cor-de-texto: #1a456d;
    --verde: #0e6d1b;
    --background: #96BA68;
    --verde-claro: #DCEBC3;
    --cor-botao: #136C11;
    --preto: #000000;
}

.cabecario {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    background-color: var(--background);
    padding-right: 6%;
    padding-left: 2%;
}

.linha {
    border-top: 2px solid var(--preto);
}

.imagem {
    width: 10%;
}

img {
    width: 8%;
}

.apresentaçao {

    background-color: var(--verde-claro);
    border-radius: 70px;
    width: 92%;
    margin-left: 3%;

}

header {
    background-color: var(--verde);
    padding: 0 0 28px;
}


.foto-equipe {
    width: 50%;

}

footer {
    background-color: #96BA68;
    color: #ffffff;
    text-align: center;
}

#equipe {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    text-align: center;
}

header a {
    color: var(--cor-botao);

    text-decoration: none;
}

.botao {
    color: var(--cor-botao);
    font-size: 20px;
}