*{
    margin: 0 ;
    padding:0;
}

body {
    background-color: var(--cor-de-fundo);
} 
/* <!--cor de fundo>  */

:root{
    --cor-de-fundo: #5fbb5f;
     --cor-de-texto: #1a456d;
     --branco: #ffffff;
     --background:#96BA68;
    }

header{ 
    font-size: 40px;
    display: flex;
    justify-content: space-between;
    align-content: center;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-start;
    align-items: center;
    background-color: var(--background);
}
.imagem{

    width: 10%;
}
img{
    width: 5%;
}

.apresentaçao{
    display: flex;
    background-color: var(--branco);
    border: solid var(--branco);
    border-width: 20px 0 0 0 ;
}