body {
    background-color: var(--cor-de-fundo);
} 
/* <!--cor de fundo>  */

:root{
    --cor-de-fundo: #5fbb5f;
     --cor-de-texto: #1a456d;
    }

header{ 
    display: flex;
    display: flex;
    align-content: center;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
}